.toast {
    width: 300px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    line-height: 30px;
    vertical-align: middle;
    font-weight: bold;
}

.toaster {
    position: absolute;
    right: 0;
}

.toast span {
    display: inline-block;
    vertical-align: middle;
}

.success {
    background-color: darkgreen;
    color: silver;
}

.warning {
    background-color: gold;
    color: black;
}

.error {
    background-color: crimson;
    color: black;
}
